h1 {
    
    text-align: center;
}

button{
    margin-bottom: 20px;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    background-color: rgb(190, 190, 190);
}

#container {

    display: flex;
    flex-direction: column;
    align-content: center;
    width: 500px;
    height: 500px;
    border: solid 1px black;
    background-color: white;
    margin-bottom: 20px;

}

.row { 
    
    display: flex;
    flex: 1;
}

.cell {
    
    flex: 1;
}